body {
    font-family: Arial, Helvetica, sans-serif;
    height: 90vh;

    background-image: url('img/world-weather-bg.webp');
    background-size: cover; /* Ajusta la imagen al tamaño de la ventana del navegador */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-attachment: fixed; /* Mantiene la imagen fija en su lugar mientras se desplaza la página */


    display: flex;
    justify-content: center;
    align-items: center;

  }
  

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 30rem;
    padding: 1rem;
}


input {
    padding: 10px;
    width: 15rem;
    border-radius: 5px;
}

button {
    height: 38px;
    background-color: #3aa2d3;
    border: none;
    color: white;
    width: 5rem;
}
